.blog{
position: absolute;
width: 100vw;
height: 716px;
top: 4700.97px;

}
.blog_title{
    height: 116px;
    text-align: center;
    background-color: #fff;
}
.blog_container{
    position: absolute;
    left: 10%;
    height:600px;
    width:85vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 8px;
}
.blog_box_inner{
    width: 478.46px;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}
.blog_pic img{
    width: 478.46px;
    height: 300px;
}
.blog_dec{
    padding: 10px;
}
.blog_dec h1{
    margin-top: 10px;
    font-size: 40px;
}
.blog_dec p{
    line-height: 1.6;
    margin: 10px 0px 20px 0px;
    font-size: 20px;
}
.blog_dec label{
    color: red;
    font-size: 24px;
    font-weight: bolder;
}